.skills-container {
    text-align: center;
    margin-top: 5rem;
}

.skills-container > p {
    color: grey;
}

.skills-container > h2 {
    font-size: 2.7rem;
}

.skills-container > div {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2.5rem;
}

.skills-container > div > span {
    background-color: #6f0bb16b;
    border: 1px solid #6f0bb1;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: 0.8rem;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem
}

@media screen and (max-width: 700px) {
    .skills-container {
        width: 100%;
    }

    .skills-container > p {
        font-size: 0.9rem;
    }

    .skills-container > h2 {
        font-size: 2rem;
    }

    .skills-container > div {
        gap: 0.6rem;
        width: 100%
    }

    .skills-container > div > span {
        padding: 0.3rem 0.6rem;
        font-size: 0.6rem;
    }
}