.about-container {
    margin-top: 5rem;
}

.about-container > h2 {
    text-align: center;
    font-size: 2.7rem;
}

@media screen and (max-width: 700px) {

    .about-container > h2 {
        font-size: 2rem;
    }

}