.about-container-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-container-info > .image-about {
    width: 48%;
    filter: brightness(0.4);
}

.about-container-info > .about-content {
    width: 65%;
}

.about-container-info > .about-content > p {
    text-align: justify;
    line-height: 1.5em;
    font-size: 0.95rem;
}

@media screen and (max-width: 700px) {

    .about-container-info {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .about-container-info > .image-about {
        width: 100%;
        filter: brightness(0.4);
    }

    .about-container-info > .about-content {
        width: 85%;
        margin-bottom: 3rem;
    }

    .about-container-info > .about-content > p {
        font-size: 0.9rem;
    }

}