.contact-container {
    margin-top: 5rem;
}

.contact-container > h2 {
    font-size: 2.7rem;
    text-align: center;
}

@media screen and (max-width: 700px) {

    .contact-container {
        width: 100%;
    }

    .contact-container > h2 {
        font-size: 2rem;
    }

}