.container-form {
    background-color: #0505795d;
    padding: 1.6rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-container > .contact-info > .container-form > .form-line {
    display: flex;
    gap: 1rem;
}

.contact-container > .contact-info > .container-form > .form-line > div {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.contact-container > .contact-info > .container-form > .form-line > div > input {
    border: 1px solid #0c0c77;
    background-color: transparent;
    color: #fff;
    text-indent: 0.3rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    box-shadow: 0px 0px 18px #0909c4a1;
}

.contact-container > .contact-info > .container-form > .form-lines {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.contact-container > .contact-info > .container-form > .form-lines > input  {
    border: 1px solid #0c0c77;
    background-color: transparent;
    color: #fff;
    text-indent: 0.3rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    box-shadow: 0px 0px 18px #0909c4a1;
}

.contact-container > .contact-info > .container-form > .form-lines > textarea  {
    border: 1px solid #0c0c77;
    background-color: transparent;
    color: #fff;
    text-indent: 0.3rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    box-shadow: 0px 0px 18px #0909c4a1;
}

.contact-container > .contact-info > .container-form > button {
    background-color: #6f0bb16b;
    border: 1px solid #6f0bb1;
    padding: 0.5rem;
    color: #fff;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    transition: .4s;
}

.contact-container > .contact-info > .container-form > button:hover {
    background-color: #6f0bb1bd;
    color: gray;
}

@media screen and (max-width: 700px) {

    .container-form {
        width: 85%;
        padding: 1rem;
    }

    .contact-container > .contact-info > .container-form > .form-line {
        gap: 0.5rem;
    }

    .contact-container > .contact-info > .container-form > .form-line > div {
        gap: 0.2rem;
        width: calc(50% - 0.2rem);
    }

    .container-form label{
        font-size: 0.9rem;
    }

    .contact-container > .contact-info > .container-form > button {
        font-size: 0.8rem;
    }

}