main {
    width: 85vw;
    display: block;
    margin: auto;
    /*box-shadow: 0.3rem 1rem 2rem #0909c4a1*/
}

@keyframes flutte {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(10px);
    }
}

@media screen and (max-width: 750px) {
    main {
        width: 95vw;
    }
}