.portfolio-container {
    margin-top: 5em;
}

.portfolio-container > h2 {
    font-size: 2.7rem;
    text-align: center;
}

.portfolio-container > .portfolio-container-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.portfolio-container > .portfolio-container-projects > .project {
    width: calc(85% / 2.93);
    border-radius: 1rem;
    padding: 1rem;
    background-color: #0505791a;
    border: 1px solid #0c0c77;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 40px #000000a8;
}

.portfolio-container > .portfolio-container-projects > .project > .project-icons {
    text-align: left;
    display: flex;
    gap: 1rem;
    margin: 1.4rem;
}

.portfolio-container > .portfolio-container-projects > .project > span {
    display: block;
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 0.7rem;
    color: grey;
    text-indent: 1rem;
    font-style: italic;
}

.portfolio-container > .portfolio-container-projects > .project > .project-icons > .newI {
    background-color: #1d1931;
    padding: 0.5rem;
    border-radius: 50%;
}

.portfolio-container > .portfolio-container-projects > .project > .project-image {
    height: 11rem;
    overflow: hidden;
    border-radius: 1rem;
}

.portfolio-container > .portfolio-container-projects > .project > .project-image > img {
    width: 100%;
    height: 100%;
    transition: .4s;
    cursor: pointer;
}

.portfolio-container > .portfolio-container-projects > .project > .project-image > img:hover {
    transform: scale(1.2);
    filter: brightness(0.5);
}