.skills-container {
    text-align: center;
    margin-top: 5rem;
}

.skills-container > p {
    color: grey;
}

.skills-container > h2 {
    font-size: 2.7rem;
}

.skills-container > div {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2.5rem;
}

.skills-container > div > span {
    background-color: #6f0bb16b;
    border: 1px solid #6f0bb1;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: 0.8rem;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem
}

.skills-container > .skills-container-section {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-container > .skills-container-section > .skill {
    background-color: #0505791a;
    border: 1px solid #0c0c77;
    border-radius: 1rem;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 0.7rem;
    box-shadow: 0 0 40px #000000a8;
    cursor: pointer;
    transition: .3s;
    width: calc(85% / 5);
}

.skills-container > .skills-container-section > .skill:hover {
    transform: scale(1.07);
}

.skills-container > .skills-container-section > .skill > span {
    font-weight: bold;
    font-size: 1.2rem;
}

.skills-container > .skills-container-section > .skill > span.leavel {
    font-size: 0.8rem;
    color: #6f0bb1;
}