.carousel {
    width: 100%;
    display: flex;
    overflow-x: auto;
    margin-top: 6rem;
    border-top: 1px solid skyblue;
    border-bottom: 1px solid skyblue;
    overflow: hidden;
    position: relative;
}

.carousel::before, .carousel::after {
    content: "";
    position: absolute;
    top: 0;
    width: 5rem;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.carousel::before {
    left: 0;
    background: linear-gradient(to right, #030924, transparent);
}

.carousel::after {
    right: 0;
    background: linear-gradient(to left, #030924, transparent);
}

.carousel::-webkit-scrollbar {
    display: none;
}