.carousel {
    width: 100%;
    display: flex;
    overflow-x: auto;
    margin-top: 6rem;
    border-top: 1px solid skyblue;
    border-bottom: 1px solid skyblue;
    overflow: hidden;
}

.carousel::-webkit-scrollbar {
    display: none;
}