main {
    width: 85%;
    display: block;
    margin: auto;
    /*box-shadow: 0.3rem 1rem 2rem #0909c4a1*/
}

.Home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}