.first-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    width: 50%
}

.first-content > span {
    font-weight: bold;
    font-size: 1.1rem;
}

.first-content > strong {
    font-size: 2.5rem;
    text-transform: uppercase;
}

.first-content > small {
    color: skyblue;
    font-size: 1rem;
    font-weight: bold;
}

.first-content  > p {
    text-align: justify;
    line-height: 1.5rem;
    width: 100%;
}

.first-content > .button-first-content {
    display: flex;
    gap: 1rem;
}

.first-content > .button-first-content > a {
    background-color: #0505795d;
    color: #fff;
    font-weight: bold;
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: .4s;
    border: 1px solid #3691b4;
    border-width: 0.1rem;
    box-shadow: 0px 0px 18px #0909c4a1;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
}

.first-content > .button-first-content > a.cv {
    background-color: transparent;
    color: #3691b4;
    border: 1px solid #3691b4;
}

.first-content > .button-first-content > a:hover {
    background-color: #020236a4;
    border: 1px solid #3691b4;
    border-width: 0.1rem;
    color: #fff;
}



@media screen and (max-width: 700px) {

    .first-content  {
        width: 85%;
        margin-bottom: 5rem;
    }

    .first-content > span {
        font-size: 0.9rem;
    }

    .first-content > strong {
        font-size: 2rem;
    }

    .first-content > small {
        font-size: 0.9rem;
    }

    .first-content  > p {
        font-size: 0.9rem;
    }

    .first-content > .button-first-content > a {
        font-size: 0.7rem;
        padding: 0.4rem 0.6rem;
    }
}

@media screen and (max-width: 750px) {

}

@media screen and (max-width: 550px) {

    .first-content > strong {
        font-size: 1.5rem;
    }

}