.Home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.Home-container > img {
    filter: brightness(0.5);
    animation: flutte 3s ease-out infinite;
    box-shadow: 0 0 80px #000000;
}

@media screen and (max-width: 700px) {
    .Home-container {
        flex-direction: column;
    }

    .Home-container > img {
        width: 70%
    }
}