footer {
    padding: 2rem;
    width: 85vw;
    margin: 2.7rem auto 0 auto;
    border-top: 1px solid #0909c4a1;
    border-top-style: dashed;
}

.footer-container-social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.footer-container-social > span {
    font-weight: bold;
}

.footer-container-social strong {
    color: skyblue;
}

.footer-container-social > .social-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.footer-container-social > .social-container > span {
    font-weight: bold;
    color: #6f0bb1;
}

.footer-container-social > .social-container > .social {
    display: flex;
    justify-content: space-between;
}

.footer-container-social > .social-container > .social > a > .social-media {
    font-size: 1.2rem;
    color: #fff;
    transition: .4s;
    box-shadow: 0 0 2rem #3232f8;
}

.footer-container-social > .social-container > .social > a > .social-media:hover {
    transform: scale(1.2);
}

.footer-container-social > .social-container > .social > a > .social-media.fb {
    color: #3232f8;
}

.footer-container-social > .social-container > .social > a > .social-media.ldin {
    color: #6565ec;
}

.all-right {
    text-align: center;
    font-size: 0.8rem;
    color: gray;
}

@media screen and (max-width: 700px) {
    footer {
        padding: 1rem;
    }

    .footer-container-social {
        width: 100%;
    }

    .footer-container-social > span {
        font-size: 0.9rem;
    }

    .footer-container-social > .social-container > span {
        font-size: 0.9rem;
    }

    .footer-container-social > .social-container > .social > a > .social-media {
        font-size: 1rem;
    }
}