.portfolio-container {
    margin-top: 5em;
}

.portfolio-container > h2 {
    font-size: 2.7rem;
    text-align: center;
}

@media screen and (max-width: 700px) {

    .portfolio-container {
        width: 100%;
    }

    .portfolio-container > h2 {
        font-size: 2rem;
    }

}